*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

html{
    font-size: 62.5%;
}

.containerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #233d4dcd;
    border-bottom: #233d4d 2px solid;
}

.containerNav img{
    width: 50px;
}

.containerNav .objContainer a{
    color: #C9E4CA;
    text-decoration: none;
    margin-right: 15px;
    font-family: "Montserrat";
    font-size: 1.6rem;
}

.containerPrincipalHeader{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9ecfd;

    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}

.containerPrincipalText{
    width: 500px;
    position: absolute;
    left: 260px;
    z-index: 2;
}

.containerPrincipalText h2{
    font-size: 10rem;
    color: #233d4d;
    font-family: "PT Serif";
}

.containerPrincipalText h2 span{
    font-size: 100px;
    color: #345971;
    font-family: "PT Serif";
}

.containerPrincipalText p{
    font-size: 1.5rem;
    color: #233d4d;
    width: 290px;
    font-family: "Montserrat";
}

.undrawImage{
    width: 95px;
    position: absolute;
    right: 580px;
    top: 140px;
}

.undrawImage img{
    width: 450px;
    z-index: 0;
    opacity: 100%;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* slider ---------------- */

.gliderContenedor{
    position: relative;
    margin-top: 20px;
}

.gliderAnterior{
    position: absolute;
    bottom: calc(50%);
    left: 5px;
    z-index: 999;
}

.gliderSiguiente{
    position: absolute;
    bottom: calc(50%);
    right: 5px;
    z-index: 999;
}

.gliderAnterior,
.gliderSiguiente{
    height: 40px;
    border: none;
    width: 40px;
    background-color: #f46036;
    color: #d9ecfd;
    font-size: 1.2rem;
}

.gliderElement{
    margin: 10px;
    background-color: #ffffff;
    border: #233d4d 0.7px solid;
}

.gliderElement p{
    background-color: #ffffff;
    font-family: "Montserrat";
    margin: 20px 0px 20px 10px;
    font-size: 1.4rem;
}

/* slider ---------------------------- */

/* tags------------- */

.tag-html{
    background-color: #f46036;
    width: 70px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.tag-css{
    background-color: #233d4d;
    width: 60px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.tag-js{
    background-color: #867d28;
    width: 60px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.tags{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #C9E4CA;
    font-size: 1.4rem;
}

/* tags --------------------- */

.title-projects{
    font-size: 40px;
    text-align: right;
    margin-right: 20px;
    font-family: "PT Serif";
    color: #233d4d;
}




@media (max-width: 768px) {
    .undrawImage {
        display: none;
    }
    .containerPrincipalText{
        position: absolute;
        left: 30px;
    }

    .containerPrincipalText h2{
        display: flex;
        flex-direction: column;
    }

    .containerPrincipalText h2{
        font-size: 60px;
    }
    .containerPrincipalText h2 span{
        font-size: 60px;
    }

    .containerPrincipalText p{
        font-size: 1.5rem;
        color: #233d4d;
        width: 290px;
        font-family: "Montserrat";
    }
}